.clearfix:after,
.clearfix:before{
    content: "";
    display: table;
}

.clearfix:after{
    clear: both;
}

.widget-content .attachment-media-view{
    font-size: 13px;
    line-height: 1.5;
    margin: 1em 0;
}

.widget-content .placeholder{
    border: 1px dashed #b4b9be;
    box-sizing: border-box;
    cursor: default;
    line-height: 20px;
    padding: 9px 0;
    position: relative;
    text-align: center;
    width: 100%;
}

.widget-content .actions{
    margin-top: 8px;
}

.widget-content .hidden {
    display: none;
}

.widget-content .alignright {
    float: right;
}

.widget-content .alignleft {
    float: left;
}

.viral-sidebar-layouts{
    margin-bottom: 15px;
}

.viral-sidebar-layouts label{
    display: inline-block;
    margin-right: 15px;
    margin-top: 15px;
    position: relative;
}

.viral-sidebar-layouts label input{
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
}

.viral-sidebar-layouts label img{
    border: 2px solid #eeeeee;
    vertical-align: middle;
    width: 90px;
}

.viral-sidebar-layouts label input:checked + img{
    border: 2px solid #007CBD;
}

[data-slug="elementor"] .go_pro,
a[href="admin.php?page=go_elementor_pro"],
a[href="admin.php?page=elementor_custom_fonts"],
a[href="admin.php?page=elementor_custom_icons"],
a[href="admin.php?page=elementor_custom_code"],
a[href="admin.php?page=e-form-submissions"],
#elementor-notice-bar{
    display: none !important;
}

