.vl-main-navigation .vl-toggled-on .vl-menu{
    display: block;
}

@media screen and (max-width: 1000px){
    #vl-amp-navigation{
        left: 0;
        position: absolute;
        right: 0;
        top: 100%;
    }
}

/* AMP News Ticker */
.vl-header-ticker-carousel, 
.vl-ticker .owl-carousel {
    overflow: hidden;
}

.vl-header-ticker-carousel .owl-carousel a, 
.vl-ticker .owl-carousel a {
    flex-shrink: 0;
    line-height: 32px;
    margin: 0;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.vl-header-ticker-carousel .owl-carousel, .vl-ticker .owl-carousel {
    display: flex;
}

@keyframes vpticker {
    0% { transform: translate3d(100%, 0, 0); }
    100% { transform: translate3d(-400%, 0, 0); }
}

.vl-header-ticker-carousel .owl-carousel a, 
.vl-ticker .owl-carousel a { 
    animation: vpticker linear 30s infinite; 
}
.vl-header-ticker-carousel .owl-carousel:hover a, 
.vl-ticker .owl-carousel:hover a { 
    animation-play-state: paused; 
}

.vl-ticker.vl-dark-ticker .owl-carousel a{
    color: #FFF;
}


/* Sticky Sidebar */
.secondary.widget-area,
#secondary{
    height: 100%;
    position: sticky;
    top: 0;
}
