/**
 *
 * Welcome Page Styles
 *
**/

.clearfix:after,
.clearfix:before{
    content: "";
    display: table;
}

.clearfix:after{
    clear: both;
}

.welcome-wrap *{
    box-sizing: border-box;
}

.welcome-wrap{
    color: #555d66;
    font-size: 15px;
    line-height: 1.5;
    margin: 25px 20px 0 40px;
    max-width: 1150px;
    position: relative
}

.welcome-wrap p{
    color: #555d66;
    font-size: 15px;
    line-height: 1.5
}

.welcome-main-content,
.welcome-footer-content{
    background: #FFF;
    margin-bottom: 50px;
    padding: 50px;
}

.welcome-footer-content{
    margin-bottom: 0;
}

/** Welcome Header **/
.welcome-header{
    margin-bottom: 50px;
}

.welcome-intro{
    float: right;
    font-size: 18px;
    width: 70%;
}

.welcome-intro h2{
    font-size: 32px;
    margin: 0 0 20px;
}

.free-pro-demos{
    margin-top: 20px;
}

.free-pro-demos a.button{
    font-weight: bold;
    line-height: 42px;
    margin-left: 20px;
    padding: 0 20px;
}

.free-pro-demos a.button .dashicons{
    height: auto;
    line-height: 42px;
    margin-left: 8px;
    width: auto;
}

.welcome-promo-banner{
    background: #fff;
    border: 1px solid #EEE;
    float: left;
    padding: 20px;
    text-align: center;
    width: 25%;
}

.welcome-promo-banner p {
    font-size: 20px;
    font-weight: bold;
}

.welcome-promo-banner a.upgrade-btn {
    display: block !important;
    font-weight: bold;
    padding: 10px 20px;
    white-space: normal;
    width: 100%;
}

.welcome-promo-offer {
    background: #f4fcff;
    border: 2px dashed #dad5d5;
    display: block !important;
    font-size: 16px;
    line-height: 1.8em;
    margin-bottom: 15px;
    padding: 15px;
    text-decoration: none;
}

.welcome-promo-offer span{
    display: block;
    font-size: 40px;
    font-weight: bold;
    margin: 20px 0;
}

/** Nav **/
.welcome-nav-wrapper{
    background: #EEE;
    display: flex;
    margin-bottom: 50px;
    padding: 15px 15px 0 15px;
}

.welcome-nav-wrapper .welcome-nav-tab{
    background: #FFF;
    border-radius: 5px 5px 0 0;
    box-shadow: none;
    color: #333;
    font-weight: bold;
    margin-left: 10px;
    padding: 14px 30px;
    text-decoration: none;
    text-transform: uppercase;
}

.welcome-nav-wrapper .welcome-nav-tab:hover{
    color: #007cba;
}

.welcome-nav-wrapper .welcome-nav-tab.welcome-nav-tab-active{
    background: #23282e;
    color: #FFF;
}

/** Getting Started **/
.welcome-getting-started{
    display: flex;
    justify-content: space-between;
}

.welcome-manual-setup,
.welcome-demo-import{
    border: 1px solid #EEE;
    box-shadow: -4px 4px 4px rgba(0,0,0,.04);
    padding: 30px;
    width: 48%;
}

.welcome-getting-started h3{
    border-bottom: 1px solid #eee;
    font-size: 18px;
    line-height: 30px;
    margin: 0 0 20px;
    padding: 0 0 20px;
}

.welcome-getting-started ol{
    margin: 0 20px 20px 0;
}

.welcome-getting-started p{
    margin: 0 0 20px;
}

.welcome-demo-import h3{
    display: flex;
    justify-content: space-between;
}

.welcome-theme-thumb{
    margin-bottom: 20px;
    overflow: hidden;
    padding-bottom: 72%;
    position: relative;
}

.welcome-theme-thumb img{
    height: 100%;
    object-fit: cover;
    object-position: top center;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

/** Recommende Plugins **/
.recommended_plugins h3{
    margin: 0 0 15px;
}

.recomended-plugin-wrap{
    display: flex;
    flex-wrap: wrap;
    margin-right: -4%;
    margin-top: -20px;
}

.recommended-plugins{
    background: #fff;
    border: 1px solid #EEE;
    float: right;
    margin-right: 4%;
    margin-top: 50px;
    width: 29.33%;
}

.plugin-image img{
    padding: 10px;
    width: 100%;
}

.plugin-title-wrap{
    border-top: 1px solid #EEE;
    font-size: 14px;
    font-weight: 600;
    line-height: 26px;
    overflow: hidden;
    padding: 10px 15px;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.plugin-btn-wrapper{
    background: rgba(244,244,244,.7);
    border-right: 1px solid rgba(0,0,0,.05);
    bottom: 0;
    height: 46px;
    left: 0;
    padding: 10px 20px;
    position: absolute;
    top: 0;
    transition: opacity .1s ease-in-out;
}

/** Support **/
.support-wrap{
    display: flex;
    justify-content: space-between;
    margin: 0 -15px;
}

.support-wrap .support-col{
    border: 1px solid #EEE;
    box-shadow: -4px 4px 4px rgba(0,0,0,.04);
    margin: 0 15px;
    padding: 30px;
    width: 50%;
}

.support-wrap .support-col h3{
    margin-top: 0;
}

/** Free VS Pro **/
.free-vs-pro-info-wrap{
    display: flex;
    margin: 0 -15px 40px;
}

.free-vs-pro-info{
    border: 1px solid #EEE;
    box-shadow: -4px 4px 4px rgba(0,0,0,.04);
    flex-basis: 0;
    flex-grow: 1;
    margin: 0 15px;
    padding: 20px;
    text-align: center;
}

.free-vs-pro-info h4{
    font-weight: bold;
    margin: 0 0 10px;
}

.free-vs-pro-info p{
    margin: 0;
}

table.comparison-table {
    border:#EEE 1px solid;
    border-collapse: collapse;
    width: 100%;
}

table.comparison-table th,
table.comparison-table td{
    border:1px solid #EEE;
    padding: 15px;
    text-align: right;
}

table.comparison-table th:nth-child(2),
table.comparison-table td:nth-child(2),
table.comparison-table th:nth-child(3),
table.comparison-table td:nth-child(3){
    text-align: center;
    width: 140px;
}

table.comparison-table th {
    background: #F6F6F6;
    font-size: 20px;
    padding: 25px 15px;
}

table.comparison-table th p:last-child,
table.comparison-table td p:last-child{
    margin-bottom: 0;
}

table.comparison-table td span{
    font-weight: bold;
}

table.comparison-table tr:hover{
    background: #F6F6F6;
}

table.comparison-table td:nth-child(2) img,
table.comparison-table td:nth-child(3) img{
    width: 40px;
}

a.buy-pro-btn {
    background: #b92424;
    color: #fff;
    display: block;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
}

a.buy-pro-btn:hover{
    background: #981f1f
}

/** Upgrade Section **/
.welcome-upgrade-header{
    margin: 0 auto;
    text-align: center;
    width: 90%;
}

.welcome-upgrade-header h3{
    margin: 0 0 10px;
}

.welcome-upgrade-header p{
    font-size: 18px;
}

.welcome-upgrade-box{
    background: #F6F6F6;
    border: 2px dashed #DDD;
    margin-top: 50px;
    padding: 40px 100px;
    text-align: center;
}

.upgrade-box-text h3{
    font-size: 26px;
    margin: 0 0 20px;
}

.upgrade-box-text p{
    font-size: 16px;
    margin: 0 0 20px;
}

.welcome-upgrade-box .upgrade-button{
    background: #0185ba;
    color: #FFF;
    display: inline-block;
    font-weight: bold;
    margin-top: 15px;
    padding: 14px 30px;
    text-decoration: none;
    text-transform: uppercase;
}

/** Welcome Notice **/
.viral-welcome-notice-wrap{
    padding: 20px;
    position: relative;
}

.viral-welcome-notice-wrap h2{
    font-size: 20px;
    margin: 0 0 5px;
}

.notice .viral-welcome-notice-wrap > p{
    font-size: 16px;
    margin: 0 0 25px;
}

.viral-welcome-info{
    display: flex;
}

.viral-welcome-info .viral-welcome-thumb{
    margin-left: 40px;
    width: 200px;
}

.viral-welcome-info > .viral-welcome-import,
.viral-welcome-info > .viral-welcome-getting-started{
    margin-left: 40px;
    width: 340px;
}

.viral-welcome-thumb img{
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 100%;
}

.viral-welcome-info h3{
    margin: 0 0 15px;
}

.notice .viral-welcome-info p{
    margin: 0 0 20px;
}

.viral-welcome-info .button{
    height: auto;
    line-height: 1.5;
    margin: 0;
    padding: 12px 36px;
    white-space: normal;
}

.viral-welcome-info .button-primary.updating-message:before{
    font-size: 18px;
    height: auto;
    margin: 0px 0 0 5px;
}

#adminmenu .toplevel_page_viral-welcome div.wp-menu-image.svg{
    background-size: 18px auto;
}

/** Footer Review **/
body.toplevel_page_viral-welcome #wpfooter{
    background: #23282e;
    color: #FFF;
    margin-left: 40px;
    max-width: 1110px;
    position: fixed;
    right: 40px;
}

body.toplevel_page_viral-welcome #wpfooter a{
    color: #FFF;
}

/** Admin Notice **/
.viral-notice.notice {
    align-items: center;
    display: flex;
    gap: 20px;
    padding: 20px 20px 20px 40px !important;
    position: relative;
}

.viral-notice.notice .viral-notice-logo{
    flex: 84px 0 0;
    width: 84px;
}

.viral-notice.notice .viral-notice-logo svg{
    display: block;
    fill: #72aee6;
}

.viral-notice.notice p{
    font-size: 16px;
    margin: 0 0 15px;
    padding: 0;
}

.viral-notice.notice .button .dashicons{
    font-size: 16px;
    height: auto;
    margin: 0 0 0 6px;
    vertical-align: middle;
    width: auto;
}

.viral-notice a.notice-dismiss {
    text-decoration: none;
}

@media screen and (max-width:782px){

    .welcome-wrap{
        margin: 30px 20px 0 30px;
    }

    .welcome-main-content, 
    .welcome-footer-content{
        padding: 20px;
    }

    .welcome-intro,
    .welcome-promo-banner{
        float: none;
        width: auto;
    }

    .welcome-intro{
        margin-bottom: 40px;
    }

    .welcome-nav-wrapper{
        display: block;
        padding-bottom: 15px;
    }

    .welcome-nav-wrapper .welcome-nav-tab{
        border-radius: 4px;
        display: block;
        margin: 0 0 5px;
        text-align: center;
    }

    .recommended-plugins{
        margin-top: 30px;
        width: 46%;
    }

    .plugin-title-wrap{
        padding: 16px 15px;
    }

    .plugin-btn-wrapper{
        height: 58px;
    }

    .welcome-upgrade-box{
        padding: 40px;
    }

    .viral-welcome-info .viral-welcome-thumb{
        display: none;
    }

}

@media screen and (max-width:580px){
    .welcome-getting-started{
        display: block;
    }

    .welcome-manual-setup, 
    .welcome-demo-import{
        padding: 20px;
        width: auto;
    }

    .welcome-manual-setup{
        margin-bottom: 40px;
    }

    .recomended-plugin-wrap{
        margin-right: 0;
    }

    .recommended-plugins{
        float: none;
        margin-left: auto;
        margin-right: auto;
        max-width: 320px;
        width: auto;
    }

    .support-wrap,
    .free-vs-pro-info-wrap{
        display: block;
    }

    .support-wrap .support-col,
    .free-vs-pro-info{
        margin-bottom: 40px;
        width: auto;
    }

    .support-wrap .support-col:last-child,
    .free-vs-pro-info:last-child{
        margin-bottom: 0;
    }

    table.comparison-table th, 
    table.comparison-table td{
        display: block;
        text-align: right !important;
        width: 100% !important;
    }

    .viral-welcome-info{
        display: block;
    }

    .viral-welcome-info > .viral-welcome-import, 
    .viral-welcome-info > .viral-welcome-getting-started{
        margin: 0 0 30px;
        width: auto;
    }

    .viral-welcome-info > .viral-welcome-getting-started{
        margin-bottom: 0;
    }
}